@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Noto Serif', serif;
    src: url(../public/fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;
  }
  .nato-serif{
    font-family: 'NotoSerif-VariableFont_wdth';
  }
  @layer components {
    .header {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
    }
    .custom-text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
    .number {
      font-weight: 700;
      font-size: 48px;
      line-height: 51.36px;
      color: #BFC3C9;
    }
    .description {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    .author {
      font-weight: 700; 
      font-size: 12px;
      letter-spacing: 1px;
    }
    .hours{
      color: var(--ink-10, #A0A5AA);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .bottom-header{
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
    }
    .editors-pick{
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }